.Header{
    position: absolute;
    background: linear-gradient(180deg,rgba(0,0,0,.5) 0,transparent);
    border-bottom: transparent;
    z-index: 1;
}
.logo{
    width: 200px;
}
.login-bg{
  position: absolute;
  width: 100%;
}
.sign-in-page{
    border-radius: 4px;
    background: rgba(0,0,0,.75);
    padding: 20px;
    width: 33%;
    position: relative;
    top: 140px;
    margin: auto;
    color: white;
}
.sign-in-page>h1{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin: 20px;
}
.sign-in-inputs{
    width: 80%;
    padding: 10px;
    margin: 20px;
    background-color: #333;
}
.sign-in-btn{
    background-color: #e50914;
    width: 86%;
    padding: 10px;
    margin: 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
.sign-up{
    cursor: pointer;
    margin: 20px 0px 30px 20px;
}